* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

#error {
  position: relative;
  height: 100vh;
}

#error .error {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.error {
  max-width: 520px;
  width: 100%;
  line-height: 1.4;
  text-align: center;
}

.error .error_loading_page {
  position: relative;
  height: 200px;
  margin: 0px auto 20px;
  z-index: -1;
}

.error .error_loading_page h1 {
  font-family: 'Sarpanch', sans-serif;
  font-size: 280px;
  font-weight: 200;
  margin: 0px;
  color: #ff2519;
  text-transform: uppercase;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.error .error_loading_page h2 {
  font-family: 'Sarpanch', sans-serif;
  font-size: 32px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;
  background: #fff;
  padding: 10px 5px;
  margin: auto;
  display: inline-block;
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
}

.error a {
  font-family: 'Sarpanch', sans-serif;
  display: inline-block;
  font-weight: 700;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  padding: 13px 23px;
  background: #303f46;
  font-size: 18px;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.error a:hover {
  color: #303f46;
  background: #ff2519;
}

@media only screen and (max-width: 767px) {
  .error .error_loading_page h1 {
    font-size: 148px;
  }
}

@media only screen and (max-width: 480px) {
  .error .error_loading_page {
    height: 148px;
    margin: 0px auto 10px;
  }
  .error .error_loading_page h1 {
    font-size: 86px;
  }
  .error .error_loading_page h2 {
    font-size: 16px;
  }
  .error a {
    padding: 7px 15px;
    font-size: 14px;
  }
}
